@font-face {
    font-family: 'Mona Sans';
    src:
        url('Mona-Sans.woff2') format('woff2 supports variations'),
        url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

html {
    font-family: 'Mona Sans' !important;
    /* color: azure; */
    background-color: rgb(15, 16, 16);
}


/* sd-completedpage:: before */
html body div#surveyElement div.sd-root-modern.sd-root--compact form div.sd-container-modern div.sv-components-column.sv-components-column--expandable.sd-body.sd-completedpage::before {
    height: 20px;
}

/* completed page */
html body div#surveyElement div.sd-root-modern.sd-root--compact form div.sd-container-modern div.sv-components-column.sv-components-column--expandable.sd-body.sd-completedpage {
    color: #d6d6d6;
    text-align: left;
    margin: 0 10px 0 10px;
    /* font-family: Open Sans; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 90%
}

.wrong-answer a::before {
    content: '⚠️';
    margin-right: 5px;
}

.wrong-answer::after {
    content: '⚠️ Review this topic';
    margin-right: 25px;
    float: right
}


.question-details {
    margin: 10px;
    color-scheme: dark;
    /* border-bottom: 1px solid linear-gradient(to right, #8e44ad, #ffffff); */
    border-bottom: 1px solid rgb(72, 22, 81);

    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;

    display: block;
    float: left;
    clear: left;
    text-align: left;

    width: 100%;
}

.question-details a {
    color: rgb(138, 147, 158);
    display: block;
    margin-left: 0px;
    font-weight: bolder;
}

.page-details h3{
    text-align: left;
    color: white;
    background-color: black;
    padding-left: 10px;
}

.sd-question__header--location--left {
    width: 50% !important;
}

.score-text {
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
    text-align: center;
    border-bottom: 1px solid rgb(72, 22, 81);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.score-text span {
    color: rgb(152, 62, 217);
    font-weight: bolder;
    font-size: larger;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.score-text img {
    background-color: gray;
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border-radius: 25px;
}

footer{
    color:#F7F7F7
}

footer a{
    color:#F7F7F7;
}

#myChart{
    background-color: white;

}

.chart-container {
    position: relative;
    margin: auto;
    height: 70vh;
    width: 70vh;
  }